/* .overall{
    display: flex;
    display: inline-flex;
    flex: space-between;
} */

.versus {
  display: flex;
  display: inline-flex;
  padding: 15px;
  width: auto;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  /* border: 2px solid white; */
/*   border-radius: 15px; */
/*   z-index: 2; */
}
.background {
  width: 100%;
  height: 200px;
  padding: 5px;
  margin: 5px;

  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
/*   gap: 20px; */

  /*  display: inline; */
  text-align: center;
  /*  border: red 3px solid; */
  /* float: left; */
  /*   justify-content: center; */
  /*  display: inline-flex; */
  /*   align-items: center;
  align-content: center; */
  /*   flex-basis: row; */
  color: white;
}

.crest {
/*   margin: auto; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.arrow {
  margin: auto;
  padding-top: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  /*  justify-content: center; */
  align-self: center;
  align-content: center;
  position: relative;
}
 

.hometeam {
  margin: auto;
  padding: 0.2vw;
  gap: 4vw;
  /*   border: blue 2px solid; */
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  display: inline-flex;
  padding-right: 30px;
  flex-wrap: wrap;
}
.awayteam {
  /*   border: green 2px solid; */
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;
  margin: auto;
  padding: 0.2vw;
/*   padding: 5px; */
/*   gap: 10vw; */
  padding-right: 30px;
 /*  margin-left: auto; */
 align-items: center;
 align-self: center;
 gap: 4vw;
 flex-wrap: wrap;
}

.singlematchbox {
/*    border: solid yellow 3px; */
  display: inline-flex;
  flex-wrap: wrap;
  width: 60%;
/*   padding: 2px; */
  margin: 10px;
  background-color: #333238;
  border-radius: 20%;
   height: auto;
}

.singlematchbox:hover{
  opacity: 50%;
  cursor: pointer;

}