.menu {
   margin: 0;
   padding: 0;
 /*  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0; */
   height: 10vh;
   width: 30vh; 
  justify-content: center;
/*   background-color: rgb(141, 132, 132); */
    /*   margin-left: 0; */
  display: inline-flex;
  position: fixed;
  cursor: default;
/*   float: left; */
 
}

.menuImage {
 
  width: 30px;
  height: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 40px;
}

.menu-text {
  justify-content: center;
    align-content: center;
  color: #fff;

  font-size: 30px;
  font-weight: bold;
}
